1.String rev

In [1]:
name="happy"
rev=""
for i in name:
    rev=i+rev
rev

'yppah'

2.pallineliyanur

In [2]:
name="madam"
rev=""
for i in name:
    rev=i+rev
if rev==name:
    print("yes its pallineliyanur")
else:
    print("not a pallineliyanur")

yes its pallineliyanur

3.count vowel

In [3]:
vowel="aeiou"
val="all 13 selected in gen ai "
new={}
for ch in val:
    if ch in vowel:
        new[ch]=new.get(ch,0)+1
new

{'a': 2, 'e': 4, 'i': 2}

4.non repeated value

In [4]:
valu="today is nice day"
for ch in valu:
    if valu.count(ch)==1:
        print(ch)
        break

t

5.max/min

In [5]:
li=[2,3,5,6,7,8,9]
min=max=li[0]
for i in li:
    if i > max:
        max=i
    elif i<min != max:
        min=i
min,max

(2, 9)

6.remove duplicate

In [6]:
lis=[2,3,4,5,4,3,2,5,6]
new=[]
for i in lis:
    if i not in new:
        new.append(i)
new

[2, 3, 4, 5, 6]

7.common elements

In [9]:
l1=[3,4,5,6,7]
l2=[7,3,5,7,2]
com=[]
for i in l1:
    if i in l2 and (i not in com):
        com.append(i)

com

[3, 5, 7]

8.sorting

In [11]:
lis=[3,4,5,6,7,1,2]
for i in range(len(lis)):
    for j in range(0,len(lis)-i-1):
        if lis[j]>lis[j+1]:
            lis[j],lis[j+1]=lis[j+1],lis[j]
lis

[1, 2, 3, 4, 5, 6, 7]

9.second highest

In [14]:
lis=[3,4,5,6,7,2]
first=second=lis[0]
for i in lis:
    if i>first:
        second=first
        first=i
    elif i>second and i!=first:
        second=i
second

6

10.list is sorted or not

In [18]:
lis=[2,3,4,2,5,6,9]
old=lis[:]
for  i in range(len(lis)):
    for j in range(0,len(lis)-i-1):
        if lis[j]>lis[j+1]:
            lis[j],lis[j+1]=lis[j+1],lis[j]
if lis==old:
    print("it is sorted")
else:
    print("not sorted")

not sorted

11.merge two list and sort

In [19]:
l1=[2,4,5]
l2=[5,8,9]
new=l1+l2
for  i in range(len(new)):
    for j in range(0,len(new)-i-1):
        if new[j]>new[j+1]:
            new[j],new[j+1]=new[j+1],new[j]
new

[2, 4, 5, 5, 8, 9]

12.factorial

In [22]:
def fact(n):
    if n<1:
        return"not possible"
    elif n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

13.fibonacci

In [27]:
def fibo(n):
    if n<0:
        return "NP"
    elif n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

fibo(9)

34

14.check prime number

In [ ]:
n=7
prime=True

for i in range(2,n):
    if n % i==0:
        prime=False
        
if prime:
    print("prime")
else:
    print("not prime")

prime

15.fizz buzz

In [43]:
n=20
for i in range(1,n):
    if i %3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

16.sum of digit

In [44]:
d=2938
val=0
while d>1:
    dig=d%10
    val=dig+val
    d=d//10
val

22

17.Leap year

In [47]:
year=2001

if year%4==0:
    if year%100==0:
        if year%400==0:
            print("leap year")
        else:
            print("not leap year")
    else:
        print("leap year")
else:
    print("not leap  year")

not leap  year

18.reverse int

In [49]:
n=2394
s=str(n)
rev=""
for i in s:
    rev=i+rev
new=int(rev)
new

4932

In [51]:
n=12394
dig=0
while n>1:
    val=n%10
    dig=dig*10 + val
    n=n//10

dig

4932

19.anagram

In [59]:
s1="happy"
s2="apphy"

count={}
anagram=True
for ch in s1:
    if ch in count:
        count[ch]+=1
    else:
        count[ch]=1
for ch in s2:
    if ch in count:
        count[ch]-=1
    else:
        anagram=False


for i in count.values():
    if i != 0 :
        anagram=False

if anagram:
    print("its anagram")
else:
    print("its not anagram")

its anagram

20.check frequency

In [64]:
val="the chennai is the place to live"
count={}
for ch in val:
    if ch in count:
        count[ch]+=1
    else:
        count[ch]=1

count

{'t': 3,
 'h': 3,
 'e': 5,
 ' ': 6,
 'c': 2,
 'n': 2,
 'a': 2,
 'i': 3,
 's': 1,
 'p': 1,
 'l': 2,
 'o': 1,
 'v': 1}

21.rotate k steps

In [70]:
li=[2,3,4,5,8]
k=3
n=len(li)
new=[0]*n
for i in range(n):
    new[i]=li[(i+k) % n]
new

[5, 8, 2, 3, 4]

22.pair with given sum

In [ ]:
target=10
lis=[2,3,4,5,6,7,8,9,10]
pair=[]
for i in range(len(lis)):
    for j in range(i+1,len(lis)):
        if lis[j]+lis[i]==target:
            pair.append((lis[j],lis[i]))
pair

[(8, 2), (7, 3), (6, 4), (5, 5)]

23.flat the nested list

In [80]:
lis=[[3,4],[5,6],[6,7]]
new=[]
for li in lis:
    for i in li:
        new.append(i)
new

[3, 4, 5, 6, 6, 7]

24.prime numbe series

In [84]:
start=10
end=25

for i in range(start,end+1):
    prime=True
    for j in range(2,i):
        if i%j==0:
            prime=False

    if prime:
        print(i)

11
13
17
19
23

25.missing no in series

In [87]:
ser=[1,2,3,5]
n=len(ser)+1
exp=n*(n+1)//2
act=sum(ser)
val=exp-act
val

4

26.amstrong number

In [90]:
num=1634
n=str(num)
le=len(n)
sum=0
for val in n:
    i=int(val)
    sum+=i**le

if num==sum:
    print("its amstrong num")
else:
    print("its not amstrong num")

its amstrong num